<!-- <div class='two-jobs__copy'>
</div> -->

<section class='section--twojobs section'>

  {{#each copy.twojobs}}
    <div class='section__scene' data-step='{{{step}}}' data-index='{{@index}}'>
		<p class='prose'>{{{text}}}</p>
    </div>
	{{/each}}

</section>


<!--
<div class='all-automation scene'>
	{{#each copy.all-automation}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>

<div class='main-job-circle scene'>
	{{#each copy.main-job-circle}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='main-job-automation scene'>
	{{#each copy.main-job-automation}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='two-jobs-automation scene'>
	{{#each copy.two-jobs-automation}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='main-job-example-skill scene'>
	{{#each copy.main-job-example-skill}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div>


<div class='comparison-job-example-skill scene'>
	{{#each copy.comparison-job-example-skill}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}
</div> -->
